/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* navbar */
nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background: blueviolet;
    height: 80px;
    width: 100%;
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
}

label.logo {
    padding: 0px 30px;
    cursor: pointer;
}

.logo img {
    margin-top: 10px;
    width: 50px;
    -webkit-filter: invert(85%) sepia(41%) saturate(1134%) hue-rotate(5deg) brightness(109%) contrast(111%);
    filter: invert(85%) sepia(41%) saturate(1134%) hue-rotate(5deg) brightness(109%) contrast(111%);
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.ul-list:nth-child(even) a:hover {
    background: #C45AEC;
    color: yellow;

}

.ul-list:nth-child(odd) a:hover {
    background: #D462FF;
    color: yellow;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.scroll {
    background-color: rgb(217, 0, 255);
}

/* section 1 */

.bg-image{
    position: fixed;
    min-height: 100vh;
    width: 100%;
    background-color: linear-gradient(to bottom, #33ccff 0%, #9966ff 100%);
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('../images/photo-1552566626-52f8b828add9.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}



.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 65px;  
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.button1 {
    display: inline-block;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px ;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.button1:hover {
    border: 1px solid white;
    background:  #76448A;
    transition: 1s ;

}

/* section2 */
.bg-image1 {
    background-image: url('../images/bg-image.jpg');
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 620px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-image1::before {
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: rgb(147, 106, 186);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 40%;
}

.container {
    max-width: 1088px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding-top: 92px;
}

.text-block h3 {
    text-align: left;
    color: blue;
    font-size: 20px;
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
}

.text-block p {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: "KA_LORTKIPANIDZE", sans-serif;
    margin-bottom: 15px;
}

.block-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.box {
    width: 24%;
    height: 260px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.box h2 {
    width: 250px;
    text-align: center;
    font-size: 15px;
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
    color: blue;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
}

.box p {
    width: 230px;
    text-align: center;
    font-size: 15px;
    color: black;
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
}

.block-box :nth-child(even).box {
    border-radius: 10%;
}

.block-box :nth-child(odd).box {
    border-radius: 10%;
}

/* slider - section3 */
.section3 {
    width: 98%;
    height: 600px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-x: auto;
}

.section3::-webkit-scrollbar {
    display: none;
}

.section3 .product {
    min-width: 24%;
    height: 90%;
    background: whitesmoke;
    margin: 0 20px 0 0;
    border-radius: 20px;
    position: relative;
    left: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

}

.section3 picture {
    width: 100%;
    height: 70%;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
}

.section3 picture img {
    width: 100%;
}

.detail,
.section3 button {
    width: 90%;
    margin: auto;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
}

.section3 a {
    text-decoration: none;
    padding: 6px 14px;
    font-size: 15px;
    margin: 5px 0 0 20px;
    display: inline-block;
    background: #6773ff;
    color: white;
}


.forw-backw {
    text-align: center;
    margin-top: 40px;
    color: #cc66ff;
    font-size: 30px;
}

.forw-backw h3 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #cc66ff;
    font-size: 40px;
}


.button a {
    background-color: #cc66ff;
}





/* footer  */

.container{
	width: 100%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
    
}
.footer{
	background-color:blueviolet;
    padding: 60px 0;
}
.footer-col{
   width: 30%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: yellow;
	text-transform: capitalize;
	margin-bottom: 20px;
	font-weight: 500;
	position: relative;
}

.footer-col p{
	font-size: 15px;
	color: yellow;
	text-transform: capitalize;
	margin-bottom: 15px;
	position: relative;
}

.footer-col .address-text{
    color: white;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: red;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
    
}
.ul-list1:not(:last-child){
	margin-bottom: 10px;
}
.ul-list1 a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: white;
	display: block;
	transition: all 0.3s ease;
    margin-top: 30px;
}
.ul-list1 a:hover{
	color: #ffffff;
	padding-left: 8px;
    
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links :nth-child(1):hover{
	color: blue;
	background-color: #ffffff;
}
.footer-col .social-links :nth-child(2):hover{
	color: rgb(104, 196, 233);
	background-color: #ffffff;
}
.footer-col .social-links :nth-child(3):hover{
	color: rgb(138, 10, 127);
	background-color: #ffffff;
}
.footer-col .social-links :nth-child(4):hover{
	color:rgb(56, 255, 56);
	background-color: #ffffff;
}
.footer-col a {
    color: white;
}
.footer-col a:hover{
    color: purple;
}


/* email form + validation */

.error-text {
    color: red;
    display: block;
}

#text {
    display: block;
}

#emailField {
    width: 300px;
    height: 40px;
}

.submitForm {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background-color: blueviolet;
    color: yellow;
    border-color: rgb(92, 16, 163);
    cursor: pointer;
}



