/* navbar */
nav{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10 ;
    background: blueviolet;
    height: 80px;
    width: 100%;
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
  }
  label.logo {
    padding: 0px 30px;
    cursor: pointer;
  }

  .logo img{
    margin-top: 10px;
    width: 50px;
    filter: invert(85%) sepia(41%) saturate(1134%) hue-rotate(5deg) brightness(109%) contrast(111%);
}
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  ul:nth-child(even) a:hover{
    background: #C45AEC ;
    color: yellow;

}

ul:nth-child(odd) a:hover{
    background: #D462FF ;
    color: yellow;
}

  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  .scroll{
    background-color: rgb(217, 0, 255) ;
}

/* section1 */

.section1{
    display: flex;
    align-items: center;
    margin-top: 150px;
    margin-left: 170px ;
 
}
.left-block{
    width: 600px;
}
.section1-h2{
    font-size: 45px;
    color: blueviolet;
    font-family: "KA_LORTKIPANIDZE", sans-serif;
}
.section1-p{
    margin-top: 40px;
    font-size: 20px;
    font-family: "KA_LORTKIPANIDZE", sans-serif;
}

.right-block{
    background-image: url("../images/cake.jpg");
    width: 45%;
    height: 600px;
    background-size:cover;
    background-repeat: no-repeat;
    margin-left: 300px;
    border-radius: 0% 100% 0% 100% / 80% 25% 75% 20% ;
}

/* section2 */
.bg-image {
    background-image: url('../images/bg-image.jpg');
    width: 100%;
    display: flex;
    height: 620px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg-image::before {
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: rgb(147, 106, 186);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 40%;
}
.container {
    max-width: 1088px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding-top: 92px;
}
.text-block h3 {
    text-align: left;
    color: blue;
    font-size: 20px;
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
}

.text-block p {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: "KA_LORTKIPANIDZE", sans-serif;
    margin-bottom: 15px;
}
.block-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box {
    width: 24%;
    height: 260px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box h2 {
    width: 250px;
    text-align: center;
    font-size:  15px;
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
    color: yellow;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
}

.box p {
    width: 230px;
    text-align: center;
    font-size:  15px;
    color: white;
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
}

.block-box :nth-child(even).box{
    background-color: blueviolet;
    border-radius: 10%;
}

.block-box :nth-child(odd).box{
    border-radius: 10%;
    background-color: rgb(153, 105, 197);
}

/* slider - section3 */
.section3{
    width: 98%;
    height: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.section3::-webkit-scrollbar{
    display: none;
}
.section3 .product{
    min-width: 24%;
    height: 90%;
    background: whitesmoke;
    margin:  0 20px  0 0;
    border-radius: 20px;
    position: relative;
    left: 0;
    transition: 0.5s;

}
.section3 picture{
    width: 100%;
    height: 70%;
    padding: 20px;
    /*background: green;*/
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
}
.section3 picture img{
    width: 100%;
}
.detail,
.section3 button{
    width: 90%;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    font-family: "BPG Nino Elite Exp Caps", sans-serif;
}

.section3 a{
    text-decoration: none;
    padding: 6px 14px;
    font-size: 15px;
    margin: 5px 0 0 20px;
    display: inline-block;
    background: #6773ff;
    color: white;
}


.forw-backw{
    text-align: center;
    margin-top: 40px;
    color:#cc66ff;
    font-size: 30px;
}

.forw-backw h3{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color:#cc66ff;
    font-size: 40px;
}


.button a {
    background-color: #cc66ff;
}


/* registration + validation */

.error-text {
    color:red;
    display: block;
}

#usernameField{
    margin-top: 20px;
    width: 300px;
    height: 40px;
}
    

#passwordField{
    margin-top: 20px;
    width: 300px;
    height: 40px;
}

#passwordFieldrepeat{
  margin-top: 20px;
  width: 300px;
  height: 40px;
}

#text{
    display: block;
}
#emailField{
    margin-top: 20px;
    width: 300px;
    height: 40px;
}
.submitForm{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background-color: blueviolet;
    color: yellow;
    border-color: rgb(92, 16, 163);
    cursor: pointer;
}

.registration-text{
    text-align:center;
    background-color: #cc99ff;
    width:100%;
    height: 400px;
    }

.registration-text h4{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    color: yellow;
    font-family: 'Poppins';
}
.registration-text h2{
    font-size: 25px;
    text-align: center;
    color: yellow;
  
   
}


